section  {
  padding: 30px 40px;
}

section .benefits {
  display: flex;
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__icon {
    font-size: 28px;
    color: green;
  }
}