$primarycolor: linear-gradient(to bottom right, #47ef7f, #0f632b);
$secondarycolor: #32bb60;
$icon-color: #00a743;
$primarycolor-font: -webkit-gradient(
	linear,
	left top,
	right bottom,
	from(#47ef7f),
	to(#0f632b)
);

$pure-white: #ffffff;
$background-light: rgb(249, 250, 252);
$dark-blue: rgba(28, 29, 58, 0.747);

* {
	font-family: 'Montserrat', sans-serif;
}
html {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

.container {
	max-width: 2000px;
	display: flex;
	margin: 0 auto;
}

.button--main {
	display: inline-block;
	padding: 0 20px;
	background: $primarycolor;
	border: 0;
	border-radius: 12px;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	transition: transform 0.2s;
	z-index: 10;
	&:hover {
		transform: scale(110%);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5),
			-3px -3px 1rem rgba(45, 104, 43, 0.5), 3px 3px 10px rgba(59, 57, 55, 0.5);
	}
}
.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
	height: 50px;
	width: 100%;
	background-color: $background-light;
	
	z-index: 1;
	&__logo {
		padding: 5px 30px;
	}
	&__burger-btn {
		padding: 5px 40px;
		z-index: 100;
		cursor: pointer;
		&:hover {
			color: $icon-color;
		}
	}

	&__links {
		position: absolute;
		display: flex;
		padding: 0;
		margin: 0;
		right: 0;
		height: calc(100vh - 60px);
		top: 60px;
		width: 70vw;
		flex-direction: column;
		list-style: none;
		align-items: center;
		justify-content: center;
		background: $background-light;
		transform: translateX(100%);
		transition: all 0.3s ease-in;
		z-index: 1;
		li {
			margin: 20px 0;
			a {
				width: 100%;
				padding: 15px 20px;
				font-size: 22px;
				text-decoration: none;
				&:hover {
					color: $icon-color;
				}
			}
			
		}
	}
	&__links.show {
		transform: translateX(0);
		display: flex;
		opacity: 0.99;
	}
}
.header {
	&__img {
		position: relative;
		width: 100%;
		height: 70vh;
		min-height: 400px;
		background-image: url('../public/tools-gfefa4eb80_640.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 0;
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(28, 29, 58, 0.747);
		z-index: -100;
	}
	&__text {
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		color: $pure-white;
		z-index: 100;
	}
	&__title {
		margin: 0;
		padding: 10px;
		font-size: 40px;
	}
	&__description {
		margin: 0;
		padding: 0;
		font-size: 18px;
		text-align: center;
	}
	&__btn {
		margin-top: 40px;
	}
	&__decor {
		&--first {
			background-image: $primarycolor-font;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&--second {
			padding-top: 2px;
			color: $secondarycolor;
			font-weight: 700;
		}
	}
}

.benefits {
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	.benefit {
		width: 300px;
		padding: 20px;
		max-width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		&__icon {
			font-size: 30px;
			color: $icon-color;
		}
		&__title {
			margin: 20px 0 0 0;
			font-size: 18px;
		}
	}
}

.offers {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: $background-light;
	font-size: 22px;
	color: $dark-blue;
	&__heading {
		position: relative;
	}
	&__heading:after {
		position: absolute;
		left: 52%;
		transform: translateX(-50%);
		bottom: -7px;
		content: '';
		width: 60px;
		height: 3px;
		background-color: $secondarycolor;
		color: $dark-blue;
	}
	.box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		.offer {
			margin: 20px;
			width: 300px;
			height: 450px;
			background-color: $pure-white;
			-webkit-box-shadow: 4px 3px 24px 0px rgba(194, 196, 220, 0.7);
			-moz-box-shadow: 4px 3px 24px 0px rgba(194, 196, 220, 0.7);
			box-shadow: 4px 3px 24px 0px rgba(194, 196, 220, 0.7);
			border-radius: 8px;
			overflow: hidden;
			&__img {
				width: 100%;
				height: 200px;
				background-position: center;
				background-size: cover;
				&--1 {
					background-image: url(../public/tools-gfefa4eb80_640.jpg);
				}
				&--2 {
					background-image: url(../public/monitoring-gbaae0c56b_640.jpg);
				}
				&--3 {
					background-image: url(../public/pexels-polina-zimmerman-3747132.jpg);
				}
				&--4 {
					background-image: url(../public/web-agency-1738168_1280.jpg);
				}
				&--5 {
					background-image: url(../public/network-connection-g999ade435_640.jpg);
				}
			}
			&__heading {
				margin: 20px 0 15px 0;
				padding: 0 10px;
				font-size: 19px;
				color: $icon-color;
			}
			&__description {
				margin: 0;
				padding: 0 20px;
				font-size: 16px;
				&--left {
					text-align: left;
				}
				&--center {
					text-align: center;
				}
			}
		}
	}
}
.opinions {
	margin-bottom: 50px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	color: $dark-blue;
	&__heading {
		position: relative;
	}
	&__heading:after {
		position: absolute;
		left: 52%;
		transform: translateX(-50%);
		bottom: -9px;
		content: '';
		width: 60px;
		height: 3px;
		background-color: $secondarycolor;
		color: $dark-blue;
	}
	&__box {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.opinion {
	margin: 30px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 300px;
	background-color: $pure-white;
	-webkit-box-shadow: 4px 3px 24px 0px rgba(194, 196, 220, 0.7);
	-moz-box-shadow: 4px 3px 24px 0px rgba(194, 196, 220, 0.7);
	box-shadow: 4px 3px 24px 0px rgba(194, 196, 220, 0.7);
	border-radius: 8px;
	&__author {
		padding: 0 20px;
		width: 90%;
		min-width: 110px;
		font-size: 18px;
		&--name {
			margin-bottom: 0;
			font-weight: 700;
		}
		&--location {
			margin: 8px 0;
			font-size: 15px;
		}
		&--rate {
			margin: 10px 0 8px 0;
			color: #f0e68c;
		}
		&--date {
			margin: 2px 0 10px 0;
			font-size: 14px;
		}
	}
	&__box {
		padding: 0 20px;
		width: 90%;
		font-size: 17px;
		&--title {
			margin: 5px 0;
			font-weight: 700;
		}
		&--description {
			margin: 8px 0;
			font-size: 15px;
		}
	}
}

.slick-slider {
	margin-bottom: 30px;
	width: 100%;
	max-width: 300px;
	border-right: #00000013 2px solid;
	border-left: #00000013 2px solid;
	user-select: none;
	.slick-track {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.footer {
	bottom: 0;
	background-color: $background-light;

	&__paragraph {
		margin: 0;
		padding: 5px 10px;
		font-size: 12px;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.navbar {
		&__burger-btn {
			display: none;
		}

		&__links {
			display: flex;
			position: unset;
			padding: 0;
			height: 100%;
			width: auto;
			flex-direction: row;
			background-color: $background-light;
			transform: translateX(0);
			transition: all 0.3s ease-in;
			z-index: 1;
			li {
				margin: 20px 0;
				a {
					width: 100%;
					padding: 15px 20px;
					font-size: 22px;
					text-decoration: none;
				}
			}
		}
		&__links.show {
			display: flex;
		}
	}
	.header {
		&__img {
			background-image: url('../public/tools-gbea3e7a68_1920.jpg');
		}
	}
	.benefits {
		flex-direction: row;
		flex-wrap: wrap;

		.benefit {
			width: 40%;
		}
	}
	.offers {
		.box {
			flex-direction: row;
			flex-wrap: wrap;
			.offer {
				width: 50%;
				max-width: 300px;
				&__heading {
					margin: 20px 0 10px 0;
				}
			}
		}
	}
	.slick-slider {
		max-width: 700px;
	}
}
@media (min-width: 992px) {
	.slick-slider {
		max-width: 820px;
	}
}

@media (max-width: 376px) {
	html {
		overflow-x: hidden;
	}
}
